:root {
  --primary-color: #00a8e8;
  --dark-bg: #1a1a2e;
  --card-bg: #16213e;
  --text-color: #e0e0e0;
  --text-muted: #a0a0a0;
  --border-color: #2c3e50;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--dark-bg);
  color: var(--text-color);
  line-height: 1.6;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.main-header {
  background-color: var(--card-bg);
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--primary-color);
}
.main-nav ul {
  display: flex;
  list-style: none;
}

.main-nav li {
  /* text-decoration: none; */
  margin-left: 25px;
}

.main-nav a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 600;
  padding: 5px 10px;
  transition: color 0.3s ease;
}

.main-nav a:hover {
  color: var(--primary-color);
}

.blog-section {
  padding: 4rem 0;
}

.section-title {
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 3rem;
}
.blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}
.blog-card {
  background-color: var(--card-bg);
  border-radius: 12px;
}
.blog-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.blog-card-content {
  padding: 1.5rem;
}
.blog-card-content h2 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  color: #fff;
}
.blog-meta {
  color: var(--text-muted);
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.blog-card-content p {
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 1.5rem;
}
.read-more-btn {
  text-decoration: none;
  background-color: var(--primary-color);
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 600;
  border-radius: 50px;
  transition: background-color 0.5s ease-in-out;
}
.blog-card a:hover {
  background-color: var(--dark-bg);
}
