PORT=****
NODE_ENV=development

DATABASE_URL =postgresql://neondb_owner:nphjhjwandering-dream-aon2ffad-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
BETTER_AUTH_SECRET=4d6793458a52aa475091e4868343aa1abbed2785fb2d
BETTER_AUTH_URL=http://localhost:8080

GOOGLE_CLIENT_ID=875272185372l834gva.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCgghSPX-vdTlt_xP08o